<ul class="nav-home5 js-menubar clear-space menu-font">
  {% for link in linklists.main-menu.links %}
  {% assign item = link.title | downcase %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}
  <li class="level1 active dropdown">
    {% if link.links != blank %}
    <ul class="level1">
      {% for child_link in link.links %}
      <li class="level2">
        <a class="capital" href="{{child_link.url}}">{{ child_link.title | escape }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% else %}
  {% capture megamenu_1 %}megamenu2_1_parent{% endcapture %}
  {% capture megamenu_2 %}megamenu2_2_parent{% endcapture %}
  {% capture megamenu_3 %}megamenu2_3_parent{% endcapture %}
  {% capture megamenu_4 %}megamenu2_4_parent{% endcapture %}
  {% if settings[megamenu_1] == item or settings[megamenu_2] == item or settings[megamenu_3] == item or settings[megamenu_4] == item %}
  {% for i in (1..4) %}
  {%capture megamenu%}megamenu2_{{i}}_parent{%endcapture%}
  {% if settings[megamenu] == item %}
  
  <li class="level1 active dropdown">
    <a href="{{ link.url }}" class="uppercase">{{ link.title }}</a>
    <span class="icon-sub-menu"></span>
    <div class="menu-level1 js-open-menu">
      <ul class="level1">
        {% for k in (1..3) %}
        {% capture mega_title %}megamenu2_{{ i }}_column_{{ k }}_title{% endcapture %}
            {% capture mega_col %}megamenu2_{{ i }}_column_{{ k }}_menu{% endcapture %}
        <li class="level2">
          <a href="#" class="capital">{{ settings[mega_title] }}</a>
          <ul class="menu-level-2 clear-space">
            {% for link in linklists[settings[mega_col]].links %}
            <li class="level3 capital menu-child-font"><a href="{{ link.url }}" title="">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
	{% endif %}
 {% endfor %}
  {% else %}
  <li class="level1">
    <a href="{{ link.url }}" class="uppercase">{{ link.title }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  <li>
    {% if customer.email != blank %}
    <a href="#" class="inline-block uppercase"><i class="zoa-icon-log-out space_right_10"></i>logout</a>
    {% else %}
    <a href="#" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
    {% endif %}
  </li>
</ul>