<ul class="nav navbar-nav menu-font menu-main menu-home2">
  {% for link in linklists.main-menu.links %}
  {% assign item = link.title | downcase %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}
  
  <li class="relative">
    <a href="{{ link.url }}" class="link-menu delay03 uppercase">{{ link.title }}</a>
    <figure class="line absolute delay03"></figure>
    {% if link.links != blank %}
    <ul>
      {% for child_link in link.links %}
      <li class="relative">
        <a class="link-menu delay03 capital" href="{{child_link.url}}">{{ child_link.title | escape }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% else %}
  {% capture megamenu_1 %}megamenu2_1_parent{% endcapture %}
  {% capture megamenu_2 %}megamenu2_2_parent{% endcapture %}
  {% capture megamenu_3 %}megamenu2_3_parent{% endcapture %}
  {% capture megamenu_4 %}megamenu2_4_parent{% endcapture %}
  {% if settings[megamenu_1] == item or settings[megamenu_2] == item or settings[megamenu_3] == item or settings[megamenu_4] == item %}
  {% for i in (1..4) %}
  {%capture megamenu%}megamenu2_{{i}}_parent{%endcapture%}
  {% if settings[megamenu] == item %}
  {% capture _mega_style_select %}megamenu2_{{i}}_select{% endcapture %}
  {% if settings[_mega_style_select] == "m_s1" %}
  <li class="relative dropdown">
    <a href="{{ link.url }}" class="link-menu delay03 uppercase">{{ link.title }}</a>
    <figure class="line {% if template.name contains 'index' and item == 'home' %}active_line{% endif %}  absolute delay03"></figure>
    <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
      <div class="container_15">
        <div class="row">
          {% for k in (1..2) %} 
          	{% capture mega_title %}megamenu2_{{ i }}_column_{{ k }}_title{% endcapture %}
            {% capture mega_col %}megamenu2_{{ i }}_column_{{ k }}_menu{% endcapture %}
          <div class="col-lg-6 col-md-6 {% if forloop.first == true %}border-right{% endif %}">
            <ul class="{% if forloop.first == true %}clear-space{% else %}space_left_30{% endif %} capital lv1">
              <li class="margin_bottom_20 space_left_20 uppercase">{{ settings[mega_title] }}</li>
              {% for link in linklists[settings[mega_col]].links %}
              	<li class="menu-child-font"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </li>
  {% elsif settings[_mega_style_select] == "m_s2" %}
  
  <li class="relative dropdown">
    <a href="{{ link.url }}" class="link-menu delay03 uppercase">{{ link.title }}</a>
    <figure class="line {% if template.name contains 'collection' or template.name contains 'product' %}active_line{% endif %} absolute delay03"></figure>
    <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left mega-menu-shop">
      <div class="container_15">
        <div class="row">
          {% for k in (1..2) %} 
          	{% capture mega_title_shop %}megamenu2_{{ i }}_column_{{ k }}_title{% endcapture %}
            {% capture mega_col_shop %}megamenu2_{{ i }}_column_{{ k }}_menu{% endcapture %}
          <div class="col-lg-4 col-md-4 {% if forloop.first == true %}border-right{% endif %}">
            <ul class="{% if forloop.first == true %}clear-space{% else %}space_left_30{% endif %} capital lv1">
              
              <li class="margin_bottom_20 space_left_20 uppercase">{{ settings[mega_title_shop] }}</li>
              {% for link in linklists[settings[mega_col_shop]].links %}
              <li class="menu-child-font"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          <!--  -->
          
          <!--  -->
          <!--  -->
          <div class="col-lg-4 col-md-4 banner-menu">
             {% capture col %}colec_menu_{{i}}{% endcapture %}
            {% assign product = all_products[settings[col]] %}
            	{% include 'nixx-product-menu' %}
          </div>
        </div>
      </div>
    </div>
  </li>
  {% elsif settings[_mega_style_select] == "m_s3" %}
  <li class="relative dropdown">
    <a href="{{ link.url }}" class="link-menu delay03 uppercase">{{ link.title }}</a>
    <figure class="line absolute delay03"></figure>
    <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left mega-menu-shop v2">
      <div class="container_15">
        <div class="row">
          {% for k in (1..3) %} 
          	{% capture mega_title_shop %}megamenu2_{{ i }}_column_{{ k }}_title{% endcapture %}
            {% capture mega_col_shop %}megamenu2_{{ i }}_column_{{ k }}_menu{% endcapture %}
          <div class="col-lg-4 col-md-4 {% unless forloop.last %}border-right{% endunless %}">
            <ul class="{% if forloop.first == true %}clear-space{% else %}space_left_30{% endif %} capital lv1">
              
              <li class="margin_bottom_20 space_left_20 uppercase">{{ settings[mega_title_shop] }}</li>
              {% for link in linklists[settings[mega_col_shop]].links %}
              <li class="menu-child-font"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% else %}
  <li class="relative">
    <a href="{{ link.url }}" class="link-menu delay03 uppercase">{{ link.title }}</a>
    <figure class="line {% if template.name contains 'contact' %}active_line{% endif %} absolute delay03"></figure>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>