{% if section.settings.enable_banner %}
<div class="banner margin_bottom_150 {% if section.settings.enable_line_top %}border-top{% endif %} {% if section.settings.enable_line_bot %}border-bot{% endif %}" style="background:{{section.settings.bgc_banner}};">
	<div class="container">
		<h1 class="title-font title-banner text-center">Shop</h1>
		{% include 'breadcrumb' %}
	</div>
</div>
{% endif %}
<div class="container shop-page margin_bottom_150">
  <div class="row">
    <div class="sidebar sidebar-full engoj-collection-sidebar fixed box-shadow">
      {% include 'nixx-sidebar-collection' %}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-shop full-shop">
      <div class="row btn-function-shop">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 margin_bottom_50">
          <span class="des-font showing hidden-xs">Showing 1–{{ per_page }} of {{ collection.all_products_count }} results</span>
          <button class="active" id="btn-grid"><i class="{{section.settings.btn-grid}}"></i></button>
          <button id="btn-list"><i class="{{section.settings.btn-list}}"></i></button>
          <button class="uppercase menu-font space_left_20 fs-18 js-btn-filter" data-click-state="0"><i class="ti-filter no-border"></i> filter</button>
        </div>
        {% include 'nixx-sorting' %}
      </div>
      <div class="row product-collection-grid">
        {% for product in collection.products %}
        {% include 'nixx-product-collection-full' %}
       	{% endfor %}
      </div>
      <!--  -->
      <div class="row">
        <div class="col-md-12">
          {% include 'pagination' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'nixx-newsletter' %}

<div class="open-sidebar fixed" data-click-state="0">
	<i class="ti-angle-left"></i>
</div>
<style>
  .sidebar-full{
    height: 100%;
    overflow: auto;
    opacity:0;
    top:0;
    right:-2000px;
    padding-top:50px;
    transition:all .5s ease;
    background:#fff;
    z-index:999;
    padding-left:30px;
  }
  .sidebar-full ul li{
  	list-style-type:none;
  }
  @media (max-width:567px){
    .sidebar-full{
    	width:300px;
      	padding-left:15px;
    }
  }
  .col-lg-2:nth-child(6n+1){
  	clear:none;
  }
  {% if section.settings.enable_bg_banner %}
  {% if section.settings.select_bg == 'img' %}
  .banner{
    background-image: url({{ section.settings.bg-banner | img_url:'master' }});
    background-position: center center;
    background-repeat: none;
    height:auto;
  }
  {% else %}
  background:{{section.settings.color}};
  {% endif %}
  {% endif %}
</style>