{%assign newletter_title= settings.popup_newletter_title %}
{%assign newletter_des= settings.popup_newletter_des_left %}
{%assign newletter_button= settings.popup_newletter_button_title %}
{%assign newletter_input= settings.popup_newletter_input_title %}
{% if settings.newsletter_form_action != blank %}
{% assign form_action = settings.newsletter_form_action %}
{% else %}
{% assign form_action = '#' %}
{% endif %}
<style>
  #email-modal .window-window .window-content .title{
    font-size:{{settings.font_size_title_popup_newletter}}px;
    color:{{settings.color_title_popup_newletter}};
    letter-spacing:unset;
    margin-bottom: 40px;
  }
  #email-modal .modal-window .title:before{
    content:'{{newletter_des}}';
    font-family: "FuturaPT Demi";
    font-size:25px;
    transform:rotate(-90deg) translateY(100%) translateX(40%);
    color: #000;
    display: inline-block;
  }
  #email-modal .modal-window form{
    flex-direction:column;
    justify-content:center;
    margin-left:60px;
  }
  #email-modal .modal-window form input.engoc-input-form{
    height:50px;
    font-size:15px;
    border-radius:0;
    min-width:300px;
    border:0;
    text-align:center;
    background:#eaeaea;
    margin-bottom:15px;
  }
  #email-modal .modal-window form input.engoc-input-form::-webkit-input-placeholder{
    color:#b3b3b3;
  }
  #email-modal .modal-window form input.engoc-input-btn{
    min-width: 300px;
    height:50px;
    border-radius:0;
    margin-bottom:25px;
    font-size:15px;
  }
  #email-modal .modal-window form .btn_nothank{
    font-size:15px;
  }
  .newsletterwrapper .form_newletter_content{
  	top: 40px;
    left: -30px;
  }
</style>
<div class="newsletterwrapper hidden-xs hidden-sm">
  <div id="email-modal">
    <div class="modal-overlay"></div>
    <div class="modal-window">
      <div class="window-window">
        <div class="window-content clearfix">
          <a class="btn close" title="Close">
            <span class="icon icon-remove">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" version="1.1" height="16px" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
              <g><path fill="#000" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/></g>
            </svg>
            </span>
          </a>
          <div>
          	<img src="{{'popup_newsletter.jpg' | asset_url}}" class="img-responsive">
          </div>
          <div class="form_newletter_content absolute">
            <h1 class="title menu-font">{{newletter_title}}</h1>           
            <div id="mailchimp-email-subscibe ">
              <div id="mc_embed_signup">
                <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"  class="subscible-form flex">
                  <div class="form-group text-center">

                    <input class="engoc-input-form des-font" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{newletter_input}}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">

                  </div>

                  <div class="form-submit text-center">
                    <input type="submit" class="engoc-input-btn des-font"  name="subscribe" id="subscribe" value="{{newletter_button}}">
                  </div>
                  <div class="text-center">
                  	<a class="btn_nothank des-font">
            			{{settings.no_thanks}}
          			</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  if (!jQuery.cookie('brilliant_pop_newletter') || jQuery.cookie('brilliant_pop_newletter') == null) {    
      jQuery(window).load(function() {
        setTimeout($('#email-modal').show(), {{settings.popup_delay}} * 1000);
        jQuery('#email-modal .close , #email-modal .modal-overlay , #email-modal .btn_nothank ').click(function(e) {
          e.preventDefault();
          jQuery('#email-modal').hide(); 
          jQuery.cookie('brilliant_pop_newletter', '1', {expires: 1, path:'/', domain: '{{ shop.domain }}' });
        });
      });
     } else {
        $('.newsletterwrapper').remove();
     }
</script>