<div class="container container-240">
    <div class="pd-banner v2">
       <a href="{{section.settings.bg_url}}" class="image-bd effect_img2">
            <img {%if section.settings.bg_img == blank%}src="{{'o-banner.jpg'| asset_url }}" 
              {%else%}
            src="{{section.settings.bg_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />  
        </a>
    </div>
    {% include 'breadcrumb' %}
</div>
<div class="aboutus">
    <div class="container container-240">
        <div class="about-img spc2">
            <img {%if section.settings.about_img == blank%}src="{{'about_1.jpg'| asset_url }}" 
              {%else%}
            src="{{section.settings.about_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" /> 
        </div>
    </div>

    <div class="about-content">
        <div class="container container-240">
            <div class="entry-inside v4 text-center">
                <img src="{{'simple_icon.png'| asset_url }}" alt="">
                <h3 class="entry-title v2 spc">{{section.settings.about_title}} </h3>
            </div>
        </div>
        <div class="container container-240">
            <div class="row pd1">
                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                {% if block.type == 'abouttab1' %}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h3 class="about-title spc">{{block.settings.text1}}</h3>
                    <p class="about-desc spc">{{block.settings.text2}} </p>
                    <div class="about-img">
                        <img {%if block.settings.about2_img == blank%}src="{{'about_2.jpg'| asset_url }}" 
                        {%else%}
                        src="{{block.settings.about2_img | img_url:'master'}}" class="img-reponsive"{%endif%} alt="" />  
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="bg-gradient">
            <div class="container container-240">
                <div class="row pd2">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == 'abouttab2' %}
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="about-element text-center">
                            <img {%if block.settings.icon == blank%}src="{{'icon1.png'| asset_url }}" 
                            {%else%}
                            src="{{block.settings.icon | img_url:'master'}}" {%endif%} alt="" />  
                            <h3 class="about-title v2">{{block.settings.text3}}</h3>
                            <p class="about-desc">{{block.settings.text4}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container container-240">
            <div class="team">
                <h3 class="about-title v3 spc text-center">{{section.settings.team_title}}</h3>
                <div class="owl-carousel owl-theme js-owl-team">
                    {% if section.blocks.size > 0 %}
                    {% for block in section.blocks %}
                    {% if block.type == 'teamtab' %}
                    <div class="team-item">
                        <div class="team-img">
                            <img {%if block.settings.team_img == blank%}src="{{'team_1.jpg'| asset_url }}" 
                            {%else%}
                            src="{{block.settings.team_img | img_url:'master'}}" {%endif%} alt="" />  
                        </div>
                        <div class="team-info">
                            <h3 class="team-name">{{block.settings.team_name}}</h3>
                            <p class="team-career">{{block.settings.team_career}}</p>
                            <p class="team-desc">{{block.settings.team_desc}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Page About Us",
  "settings": [
    {
      "type": "header",
      "content": "Banner Top"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Image",
      "info": "1398x191 recommended"
    },
	{
      "id": "bg_url",
      "type": "url",
      "default": "/collections/all",
      "label": "Button link"
    },
	{
      "type": "header",
      "content": "About Us"
    },
	{
      "type": "image_picker",
      "id": "about_img",
      "label": "Image",
      "info": "1400x705px recommended"
    },
	
    {
      "type": "text",
      "id": "about_title",
      "label": "Title",
      "default": "Multi-Purpose WooCommerce Theme for Electronics Store "
    },
	{
      "type": "text",
      "id": "team_title",
      "label": "Title",
      "default": "Our teams "
    }
  ],
	"blocks": [
    {
      "type": "abouttab1",
      "name": "About Block 1",
      "limit": 2,
      "settings": [
		{
          "type": "image_picker",
          "id": "about2_img",
          "label": "Icon",
			"info": "680x488px recommended"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Title",
          "default": "Our vision"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Content"
        }
      ]
    },
	{
      "type": "abouttab2",
      "name": "About Block 2",
      "limit": 3,
      "settings": [
		{
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
			"info": "80x80px recommended"
        },
        {
          "type": "text",
          "id": "text3",
          "label": "Title",
          "default": "More than 2000 + items"
        },
        {
          "type": "text",
          "id": "text4",
          "label": "Content",
			"default": "Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters"
        }
      ]
    },
	{
      "type": "teamtab",
      "name": "Team",
      "limit": 4,
      "settings": [
		{
          "type": "image_picker",
          "id": "team_img",
          "label": "Image",
		"info": "321x348px recommended"
        },
        {
          "type": "text",
          "id": "team_name",
          "label": "Title",
          "default": "Team Name"
        },
        {
          "type": "text",
          "id": "team_career",
          "label": "Content",
			"default": "Team Career"
        },
		{
          "type": "text",
          "id": "team_desc",
          "label": "Content",
			"default":"Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page About Us"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}